.container {
  min-height: 100vh;
}

.firstSection{
  height: 100vh;
}
.slider{
  height: 100%;
}
.slide{
  background-color: blueviolet;  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.pictureWrapper{
  width: 55%;
  height: 80%;
  position: relative;
}

.picture {
 object-fit: contain;
 height: 100%;
 width: 100%;
 object-position: bottom right;
}
.slide1{
  background-color: blue;  
}
.slide2{
  background-color: red;  
}
.slide3{
  background-color: orange;  
}
.slide4{
  background-color: aquamarine;  
}